.socialmediabar-container {
  clear: both;
  display: block;
  min-height: 50px;
  background: #f4f4f4;
  overflow: hidden;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: .5em;
  margin-left: 10px;
}

.socialmediabar .container {
  display: inline;
  float: left;
  border: 1px solid #d3d3d3;
  width: 56px;
  height: 56px;
  text-align: center;
  overflow: hidden;
  margin-left: 3px;
  background: url('images/button_background.gif');
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.socialmediabar .total-container {
  border: 0;
  font-weight: bold;
  font-weight: bold;
  text-transform: lowercase;
  color: #858585;
  background: 0;
  width: 69px;
  text-align: center;
}

.socialmediabar .total-container .count {
  font-size: 36px;
  color: #6285ad;
}

.socialmediabar button,
.socialmediabar span.st_email {
  width: 100%;
  height: 56px;
  background: url(images/icon_twitter.gif) center 11px no-repeat;
  text-indent: -9999px;
  border: none;
  margin-bottom: -15px;
}

.network-container.linkedin button {
  background-image: url('images/icon_linkedin.gif');
}

.network-container.googleplus button {
  background-image: url('images/icon_googleplus.gif');
}

.network-container.facebook button {
  background-image: url('images/icon_facebook.png');
}

.socialmediabar span.st_email {
  background-image: url('images/icon_email.gif');
  display: block;
}

.socialmediabar .count {
  font-size: .8em;
  color: #838383;
}

.socialmediabar-vertical .container {
  display: inline;
  float: right;
  clear: both;
}

.socialmediabar-vertical {
  position: fixed;
  right: 0px;
  top: 25%;
  float: right;
  background: #f4f4f4;
  overflow: hidden;
  margin-right: 1em;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: .5em 1em;
  width: 86px;
}

.socialmediabar-vertical .container {
  margin-top: .5em;
}

.socialmediabar-vertical .total-container {
  width: 56px;
  margin: 0;
}

aside.topsidebar {
  max-width: none;
}
